* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100%;
}





header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    color: #333;
    padding: 20px 0;
    z-index: 1; 
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: -1;
}

header h1 {
    position: relative; /* Pour que le texte se superpose à l'arrière-plan flou */
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}




main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 82px;
}

.presentation {
    display: flex;
    background-size: cover;
    color: black;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.presentation .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.presentation p {
    font-size: 20px;
    margin-bottom: 30px;
}

.presentation .btn {
    display: inline-block;
    background: rgb(120,0,184);
    background: linear-gradient(90deg, rgba(120,0,184,1) 0%, rgba(196,2,201,1) 35%, rgba(255,0,83,1) 100%);
    background-size: 200% 200%;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.presentation .btn:hover {
    animation: gradient 4s ease-in infinite;
}

/* cards des employes */

.cards_employes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
}

.card {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.card:hover {
    animation: hover-cards 0.1s ease-in;
    transform: scale(1.025);
}

.card img {
width: 100%;
height: auto;
}

.card-info {
padding: 20px;
}

.card-info h2 {
margin-top: 0;
}

.card-info p {
color: #666;
}





/* cards de l'histoire du train */
.cards_history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
}

.history-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:70%;
    margin: 20px;
}

.history-header {
    background: rgb(120,0,184);
    background: linear-gradient(90deg, rgba(120,0,184,1) 0%, rgba(196,2,201,1) 35%, rgba(255,0,83,1) 100%);
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.history-header h2 {
    margin: 0;
}

.history-body {
    padding: 20px;
}

.history-body p {
    margin: 5px 0;
}


footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}






/* barre de recherche */
.search {
    display: flex;
    background-size: cover;
    color: black;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
    padding: 10px;
    width: 50rem;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.search_train {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container .btn {
    display: inline-block;
    border: none;
    height: 48px;
    width: 10rem;
    background: rgb(120,0,184);
    background: linear-gradient(90deg, rgba(120,0,184,1) 0%, rgba(196,2,201,1) 35%, rgba(255,0,83,1) 100%);
    background-size: 200% 200%;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.search-container .btn:hover {
    animation: gradient 4s ease-in infinite;
}








/* Menu burger */
.nav-list-burger {
    display: none;
    position: absolute;
    flex-direction: column;
    list-style: none;
    align-items: center;
    width: 100%;
    z-index: -10;
    padding: 0;
}

.nav-list-burger::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: -10;
}

.nav-list-burger li {
    margin: 0 10px;
}

.nav-list-burger a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.active-nav-burger {
    animation: transition-burger-nav 0.2s ease-out;
    top: 5rem;
    display: flex ;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    position: absolute;
    transform: rotate(-405deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    position: absolute;
    transform: rotate(405deg);
}


/* Keyframes */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes hover-cards {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.025);
    }
}

@keyframes transition-burger-nav {
    0% {
        top: -5rem;
    }
    100% {
        top: 5rem;
    }
}


/* Dependances de la taille de l'ecran */

@media screen and (max-width: 700px) {
    header {   
        background-color: #fff;
    }
    .cards_employes, .cards_history {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .cards_history h1 {
        padding: 1rem;
        text-align: center;
    }
    .card {
        width: 80%;
        overflow:scroll;
    }
    .menu-toggle {
        display: flex;
    }
    .nav-list {
        display: none;
    }
    .search_train {
        flex-direction: column;
        width: 80%;
    }
    #search-input {
        width: 100%; 
        height: 32px; 
    }

    .search-container .btn {
        width: 100%;
        height: 32px; 
    }
}