{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNCFForever - Accueil</title>
    <link rel="stylesheet" type="text/css" href=" {% static '/css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <a href="/sncfapp/accueil"><h1>SNCFF</h1></a>
            <nav>
                <ul>
                    <li><a href="{% url 'accueil' %}">Accueil</a></li>
                    <li><a href="{% url 'showall' %}">Lignes</a></li>
                    <li><a href="{% url 'history' %}">Histoire</a></li>
                    <li><a href="{% url 'creation' %}">Creation</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main> 

        <section id="" class="creation">
            <div class="add_train">
                <h2>Ajouter un Train</h2>
                <form class="form_add_train" method="post" action="{% url 'save_train' %}">
                    {% csrf_token %}
                    <label for="name">Nom du train:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="departure">Heure de départ:</label>
                    <input type="time" id="departure" name="departure" required>

                    <label for="arrive">Heure d'arrivée:</label>
                    <input type="time" id="arrive" name="arrive" required>

                    <label for="destination">Destination:</label>
                    <input type="text" id="destination" name="destination" required>

                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="4" required></textarea>

                    <input type="submit" value="Ajouter">
                </form>
            </div>
        </section>

    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 SNCFForever. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
